<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LoginTests">

      <test name="login chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="techList.test.TestsContentProvider" />
        </classes>
      </test>

<!--      <test name="login firefox">-->
<!--         <parameter name="browser" value="firefox"/>-->
<!--          <classes>-->
<!--              <class name="techList.test.TestsContentProvider" />-->
<!--          </classes>-->
<!--      </test>-->

<!--      <test name="login opera">-->
<!--        <parameter name="browser" value="opera"/>-->
<!--          <classes>-->
<!--              <class name="techList.test.TestsContentProvider" />-->
<!--          </classes>-->
<!--      </test>-->

</suite>